USE [master]
GO
/****** Object:  Database [NTTBanco]    Script Date: 8/28/2022 4:43:17 PM ******/
CREATE DATABASE [NTTBanco]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NTTBanco', FILENAME = N'/var/opt/mssql/data/NTTBanco.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NTTBanco_log', FILENAME = N'/var/opt/mssql/data/NTTBanco_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NTTBanco].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NTTBanco]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/28/2022 4:43:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 8/28/2022 4:43:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[NumeroCuenta] [nvarchar](450) NOT NULL,
	[TipoCuenta] [nvarchar](max) NULL,
	[SaldoInicial] [decimal](18, 2) NOT NULL,
	[SaldoActual] [decimal](18, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[ClientePersonaFKIdPersona] [int] NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[NumeroCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimientos]    Script Date: 8/28/2022 4:43:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimientos](
	[IdMovimientos] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[TipoMovimiento] [nvarchar](max) NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[Saldo] [decimal](18, 2) NOT NULL,
	[SaldoInicial] [decimal](18, 2) NOT NULL,
	[CuentaNumeroCuenta] [nvarchar](450) NULL,
 CONSTRAINT [PK_Movimientos] PRIMARY KEY CLUSTERED 
(
	[IdMovimientos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 8/28/2022 4:43:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](max) NULL,
	[Genero] [nvarchar](max) NULL,
	[Edad] [int] NOT NULL,
	[Identificacion] [nvarchar](450) NULL,
	[Direccion] [nvarchar](max) NULL,
	[Telefono] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](max) NOT NULL,
	[ClienteId] [int] NULL,
	[Contrasenia] [nvarchar](max) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Cuenta_ClientePersonaFKIdPersona]    Script Date: 8/28/2022 4:43:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Cuenta_ClientePersonaFKIdPersona] ON [dbo].[Cuenta]
(
	[ClientePersonaFKIdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cuenta_NumeroCuenta]    Script Date: 8/28/2022 4:43:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Cuenta_NumeroCuenta] ON [dbo].[Cuenta]
(
	[NumeroCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Movimientos_CuentaNumeroCuenta]    Script Date: 8/28/2022 4:43:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Movimientos_CuentaNumeroCuenta] ON [dbo].[Movimientos]
(
	[CuentaNumeroCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Persona_Identificacion]    Script Date: 8/28/2022 4:43:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Persona_Identificacion] ON [dbo].[Persona]
(
	[Identificacion] ASC
)
WHERE ([Identificacion] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Persona] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Estado]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Persona_ClientePersonaFKIdPersona] FOREIGN KEY([ClientePersonaFKIdPersona])
REFERENCES [dbo].[Persona] ([IdPersona])
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [FK_Cuenta_Persona_ClientePersonaFKIdPersona]
GO
ALTER TABLE [dbo].[Movimientos]  WITH CHECK ADD  CONSTRAINT [FK_Movimientos_Cuenta_CuentaNumeroCuenta] FOREIGN KEY([CuentaNumeroCuenta])
REFERENCES [dbo].[Cuenta] ([NumeroCuenta])
GO
ALTER TABLE [dbo].[Movimientos] CHECK CONSTRAINT [FK_Movimientos_Cuenta_CuentaNumeroCuenta]
GO
USE [master]
GO
